article.cs {
  max-width: 1200px;
  padding: 2rem 4rem;
  margin: auto;
}

.cs h1 {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 20px;
  color: var(--theme-yellow);
}

.cs aside {
  display: block;
  background-color: var(--theme-blue);
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  align-self: flex-end;
  font-size: 0.75rem;
  font-style: italic; // Added property
}

@mixin liBefore($scale, $maskUrl) {
  transform: scale($scale);
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -webkit-mask: url($maskUrl) no-repeat center;
  background-color: var(--study-blue);
}

.cs section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    &.cycles,
    &.lessons {
      display: flex;
      flex-direction: column;
    }

    li {
      padding: 0.5rem 1rem;
      background-color: var(--theme-yellow);
      color: var(--main-background);
      border-radius: 3rem 1rem;
      font-family: var(--font-roboto);
      font-size: 0.75rem;
      font-weight: 600;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
    }

    &.check li::before {
      @include liBefore(1, "/icons/check.svg");
      border-radius: 2rem 0.5rem;
    }

    &.lessons li::before {
      @include liBefore(1, "/icons/lesson.svg");
      border-radius: 2rem 0.5rem;
    }

    &.cycles li::before {
      @include liBefore(1, "/icons/cycle.svg");
      border-radius: 2rem 0.5rem;
    }

    &.question li::before {
      @include liBefore(1, "/icons/question.svg");
    }
  }
}

.cs .split {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-between;

  p {
    max-width: 54ch;
  }
}

.cs .right {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cs .image {
  border-radius: 1rem;
  overflow: hidden;
}

.cs .images {
  display: flex;
  gap: 2rem;
}

.cs em {
  font-style: normal;
  font-weight: 800;
}

.cs .carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  position: relative;

  & > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cs .carousel-counter,
.cs .carousel-btn {
  background-color: var(--theme-blue);
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.cs .carousel-btn {
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: var(--study-blue);
  }
}

.cs .scrollControl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  :nth-child(1) {
    justify-self: start;
  }
  :nth-child(2) {
    justify-self: center;
  }
  :nth-child(3) {
    justify-self: end;
  }
}

@media only screen and (min-width: 1024px) {
  /* Desktop styles */
  /* Add your styles here */

  .cs section ul {
    li {
      padding: 1rem 2rem;
      background-color: var(--theme-yellow);
      color: var(--main-background);
      border-radius: 3rem 1rem;
      font-family: var(--font-roboto);
      font-size: 1.5rem;
      font-weight: 600;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 1rem;
    }

    &.check li::before {
      @include liBefore(2, "/icons/check.svg");
      border-radius: 2rem 0.5rem;
    }

    &.lessons li::before {
      @include liBefore(2, "/icons/lesson.svg");
      border-radius: 2rem 0.5rem;
    }

    &.cycles li::before {
      @include liBefore(2, "/icons/cycle.svg");
      border-radius: 2rem 0.5rem;
    }

    &.question li::before {
      @include liBefore(2, "/icons/question.svg");
    }
  }

  .cs aside {
    font-size: 1.25rem;
  }

  .cs .carousel-counter,
  .cs .carousel-btn {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  /* Large desktop styles */
  /* Add your styles here */
}

@media only screen and (min-width: 2560px) {
  /* 4K styles */
  /* Add your styles here */
}
