@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bottom-margin-big: 2.5rem;
  --bottom-margin-med: 1.5rem;
  --bottom-margin-small: 1rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-sans: 'Poppins', sans-serif;
  --font-weight-extra-thin: 100;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

  --font-size-h1: 3rem;
  --font-size-h2: 1.5rem;
  --font-size-hn: 1rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --md-chip-height: 32px;
  --md-chip-color: #e0e0e0;
  --themecolor: #1579b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --text-headers: #FECC5B;
    --text-copy: #FFFFFF;
    --body-background: #330864;
    --main-background: #0C1A1F;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(to bottom right,
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0),
        rgba(1, 65, 255, 0.3));

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(#ffffff80,
        #ffffff40,
        #ffffff30,
        #ffffff20,
        #ffffff10,
        #ffffff10,
        #ffffff80);

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-copy);
  background: var(--body-background);
  font-family: var(--font-sans);
}

main {
  padding: var(--bottom-margin-big);
  max-width: 80ch;
  background: var(--main-background);
}

main nav {
  max-width: 60ch;
  margin-bottom: var(--bottom-margin-big);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main nav>a {
  font-size: var(--font-size-h2);
  background-color: #330864;
  padding: 1rem 3rem;
  transition: all 200ms;
}

main nav>a:hover {
  border-radius: 8px;
  background-color: #FECC5B;
  color: #330864;
}

h1 {
  color: var(--text-headers);
  font-weight: var(--font-weight-extrabold);
  font-size: calc(var(--font-size-h1) * 2);
  line-height: calc(var(--font-size-h1) * 2);
  margin-bottom: var(--bottom-margin-big);
}

h2,
h3,
h4 {
  color: var(--text-headers);
  font-weight: var(--font-weight-semibold);
}

h2,
h3 {
  font-size: var(--font-size-h2);
  line-height: var(--font-size-h2);
  margin-bottom: var(--bottom-margin-med);
}

h4 {
  font-size: var(--font-size-hn);
  line-height: var(--font-size-hn);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  color: var(--text-copy);
  margin-bottom: var(--bottom-margin-small);
}

p {
  margin-bottom: 1rem;
  line-height: var(--bottom-margin-med);
  font-weight: var(--font-weight-thin);
}

p>b {
  font-weight: var(--font-weight-regular);
}

section {
  margin-bottom: var(--bottom-margin-big);
}

p:last-child {
  margin-bottom: var(--bottom-margin-big);
}

a {
  color: inherit;
  text-decoration: none;
}

details {
  max-width: 60ch;
}

details>summary {
  list-style: none;
  cursor: pointer;
}

details>summary>h4 {
  display: inline-block;
}

details>summary::-webkit-details-marker {
  display: none;
}

summary:after {
  display: inline-block;
  content: '\25B6';
  color: var(--text-headers);
  margin-left: 0.5rem;
  transition: all 200ms;
}

details[open]>summary:after {
  transform: rotate(90deg);
}

.kern {
  letter-spacing: -5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}