@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --bottom-margin-big: 2.5rem;
  --bottom-margin-med: 1.5rem;
  --bottom-margin-small: 1rem;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --font-weight-extra-thin: 100;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-extrabold: 800;

  --font-size-hn: 1rem;

  --text-headers: #fecc5b;
  --text-copy: #dedede;
  --body-background: #330864;
  --main-background: #0c1a1f;
  --theme-button: #013b9c;
  --theme-yellow: #ffff00;
  --theme-blue: #013b9c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* keep handy: prevents rubber-banding on mobile but ruins parallax */
  /* height: 100vh; */
  overflow-x: hidden;
}

body {
  color: var(--text-copy);
  background: var(--body-background);
  background: linear-gradient(
    45deg,
    var(--theme-blue),
    #00a6b6,
    #00bfb1,
    #00d59c,
    #5ee87b,
    #aff751,
    var(--theme-yellow)
  );
}

body:before {
  background-image: url(/noise.png);
  background-repeat: repeat;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  mix-blend-mode: color-dodge;
  opacity: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

main {
  padding: var(--bottom-margin-big);
  height: auto;
  background: var(--main-background);
  margin: 1rem auto;
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto);
}

h4 {
  font-size: var(--font-size-hn);
  line-height: var(--font-size-hn);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  color: var(--text-copy);
  margin-bottom: var(--bottom-margin-small);
}

p {
  margin-bottom: 1rem;
  font-family: var(--font-roboto-mono);
  line-height: var(--bottom-margin-med);
  font-weight: var(--font-weight-thin);
  font-size: 0.875rem;
}

p > b {
  font-weight: var(--font-weight-regular);
}

section {
  margin-bottom: var(--bottom-margin-big);
}

p:last-child {
  margin-bottom: var(--bottom-margin-big);
}

a {
  color: inherit;
  text-decoration: none;
}

details {
  max-width: 60ch;
}

details > summary {
  list-style: none;
  cursor: pointer;
}

details > summary > h4 {
  display: inline-block;
  background: var(--theme-button);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  transition: all 100ms;
}

details > summary > h4:hover,
details > summary > h4:focus {
  filter: brightness(1.2);
}

details > summary::-webkit-details-marker {
  display: none;
}

summary:after {
  display: inline-block;
  content: "\25B6";
  color: var(--theme-yellow);
  margin-left: 0.5rem;
  transition: all 200ms;
}

details[open] > summary:after {
  transform: rotate(90deg);
}

.kern {
  letter-spacing: -5px;
}

.group:hover .summary-short {
  max-height: 0;
}

.group:hover .summary-detailed {
  max-height: 20rem; /* Adjust as needed, should be enough to contain the detailed summary */
}
